body {
  background: linear-gradient(60deg, #ed6d6d 0%, #2900b0 100%);
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-button {
  width: 270px;
  text-transform: capitalize;
  opacity: 80%;
}

.list-group-item {
  background-color: transparent;
  border: none;
  text-align: center;
}

#exampleModal {
  text-transform: capitalize;
  text-align: center;
}

.navbar {
  margin-bottom: 50px;
  opacity: 80%;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
