/*font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item--logo {
  width: 200px;
}

.pokemon-button {
  width: 100%;
  border: none;
  font-family: inherit;
  background-color: #f8f8ff;
  color: #0d0d0d;
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  border-radius: 3px;
  transition: 0.5s background-color;
}

.pokemon-button:hover,
.pokemon-button:focus {
  cursor: pointer;
  background-color: #f0ffff;
}

ul.pokemon-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
}

.poke-grid {
  max-width: 500px;
  margin: 0 auto;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .poke-grid {
    max-width: 100%;
    margin: 15px;
  }
}

@media all and (max-width: 500px) {
  .poke-grid {
    max-width: 100%;
    margin: 15px;
  }
}
